.dashboard .before-dashboard {
  margin-bottom: 30px; // base(1.5)

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  &__instructions {
    list-style: decimal;
    margin-bottom: 10px; // base(0.5)

    & li {
      width: 100%;
    }
  }

  & a:hover {
    opacity: 0.85;
  }
}
